body {
  background: white;
}
h1 {
  font-weight: bold;
  color: #3c61b6;
  font-family: cursive;
  text-align: center;
}
h2 {
  font-weight: bold;
  color: black;
  font-family: cursive;
  text-align: center;
}
p {
  font-weight: bold;
  color: black;
  font-family: cursive;
  font-style: italic;
  text-align: center;
}
button {
  font-weight: bold;
  color: #132011;
  font-family: cursive;
  font-style: italic;
  background: #2dcc2d;
  text-align: center;
  border: none;
}